<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<form method="POST" class="form-horizontal" action="{{url_for('output')}}">
  <div class="form-group">
    <label for="Peptide Sequence">Peptide Sequence</label>
    <input name="pep_seq" type="text" class="form-control" id="pep_seq">
  </div>
  <div class="form-group">
    <label for="Modification Type">Modification Type</label>
    <input name="mod_type" type="text" class="form-control" id="mod_type">
  </div>
  <div class="form-group">
    <label for="Modification Position">Modification Position</label>
    <input name="mod_pos" type="text" class="form-control" id="mod_pos">
  </div>
  <div class="form-group">
    <label for="MHC Name">MHC Name</label>
    <input name="mhc_name" type="text" class="form-control" id="mhc_name">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>