<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tetramer Validator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"> </script>
  <script type="text/javascript" src="{{url_for('static', filename='typeahead.bundle.js')}}"> </script>
  <link rel="stylesheet" href="{{url_for('static', filename='typeaheadjs.css')}}" />
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-tokenfield.min.css')}}" />
  <script type="text/javascript" src="{{url_for('static', filename='bootstrap-tokenfield.min.js')}}"> </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <style>
    .form-actions {
      margin: 10px;
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <h1> Tetramer Validator </h1>
    <form method="GET" class="form-horizontal" action="{{url_for('output')}}">
      <div class="form-row center-block">
        <div class="col" id="MHC_display">
          <label for="MHC Molecule">MHC Molecule
            <span>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question" data-toggle="popover" data-trigger="focus" data-content="Enter MHC molecule from prepopulated list. Click <a href='{{(url_for('readme'))}}'> here </a> for documentation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
              </svg>
            </span>
          </label>
        </div>
        <div class="col">
          <label for="Peptide Sequence">Peptide Sequence
            <span>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question" data-toggle="popover" data-trigger="focus" data-content="Enter valid amino acid sequence. Click <a href='{{(url_for('readme'))}}'> here </a> for documentation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
              </svg>
            </span>
          </label>
        </div>
        <div class="col">
          <label for="Modification Type">Modification Type
            <span>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question" data-toggle="popover" data-trigger="focus" data-content="Please choose a post-translational type from the prepopulated list. Click <a href='{{(url_for('readme'))}}'> here </a> for documentation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
              </svg>
            </span>
          </label>
        </div>
        <div class="col">
          <label for="Modification Position">Modification Position
            <span>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-question" data-toggle="popover" data-trigger="focus" data-content="Enter a amino acid letter and matching position from peptide sequence. Modification Position field should be a comma separated list of amino acid letter followed by position number (e.g. F1, S10, S300). Click <a href='{{(url_for('readme'))}}'> here </a> for documentation" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
              </svg>
            </span>
          </label>
        </div>
      </div>
      {% for row in rows %}
      <div class="form-row mb-2">
        <div class="col">
          <input name="mhc_name" type="text" class="twitter-typeahead form-control" id="mhc_name" value="{{row.mhc_name}}" placeholder="Example: HLA-A*02:01" autocomplete="off" required>
        </div>
        <div class="col">
          <input name="pep_seq" type="text" class="form-control" id="pep_seq" value="{{row.pep_seq}}" placeholder="Example: NLVPMVATV" required>
        </div>
        <div class="col" id="PTM_display">
          <input name="mod_type" type="text" class="twitter-typeahead form-control" id="mod_type" autocomplete="off" spellcheck="false" value="{{row.mod_type}}" placeholder="Example: oxidized residue">
        </div>
        <div class="col">
          <input name="mod_pos" type="text" class="form-control" id="mod_pos" value="{{row.mod_pos}}" placeholder="Example: M5">
        </div>
      </div>
      {% endfor %}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-primary" name="add" value="true">Add</button>
        <a href="/" class="btn btn-secondary" id="Clear">Clear</a>
      </div>
      <hr>
      ARGS: {{ args }}
      <hr>
      ROWS: {{ rows }}

    </form>

    {% if errors %}
    <ul class="alert alert-danger" role="alert">
      {% for error in errors%}
      <li> {{error["message"]}}
        {% if error["suggestion"] %}
        {{"Suggested fix is " + error["suggestion"] + "."}}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if success %}
    <p class="alert alert-success" role="alert"> Success! Input is valid </p>
    {% endif %}

    <div class="alert alert-info" role="alert">
      <p> <a href="{{url_for('readme')}}"> Documentation </a> </p>
      <p> <a href="?mhc_name=HLA-B*07%3A04&pep_seq=AARPATSTL&mod_type=&mod_pos="> Example without modification </a> </p>
      <p> <a href="?mhc_name=HLA-DRB1*04%3A06&pep_seq=MIVIL&mod_type=formylated+residue&mod_pos=M1"> Example with modification </a> </p>
      <p> <a href="https://www.ebi.ac.uk/ols/ontologies/mro"> MHC Restriction Ontology (MRO) </a> </p>
      <p> <a href="https://www.ebi.ac.uk/ols/ontologies/mod"> PSI-MOD Ontology </a> </p>
    </div>
  </div>

  <script src="static/MHC_display.js"> </script>
  <script src="/static/PTM_display.js"> </script>
  <script>
      $(document).ready(function(){
        $('[data-toggle="popover"]').popover({html: true});
      });

      function removePlaceholders() {
        $("input").removeAttr("placeholder");
      }

      $("input").removeClass("is-invalid");
      var inputs = $("input[id]")
      for(input = 0; input < inputs.length; input++) {
        if(inputs[input].value != "") {
          $(inputs[input]).addClass("is-valid");
        }
      }
      removePlaceholders();

      {#
      // TODO: Fix this
      //<script>
      //  var field = "#{{error["field"]}}";
      //  $(field).addClass("is-invalid");
      //</script>
      #}
  </script>


</body>

</html>
