<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Tetramer Validator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="{{url_for('static', filename='jquery-3.5.1.min.js')}}"> </script>
  <script type="text/javascript" src="{{url_for('static', filename='typeahead.bundle.js')}}"> </script>
  <link rel="stylesheet" href="{{url_for('static', filename='typeaheadjs.css')}}" />

</head>

<body>

  <div class="container-fluid">
    <h1> Tetramer Validator </h1>
    <form method="GET" class="form-horizontal" action="{{url_for('output')}}">
      <div class="form-row center-block">
        <div class="col">
          <label for="Peptide Sequence">Peptide Sequence</label>
          <input name="pep_seq" type="text" class="form-control" id="pep_seq" value="{{pep_seq}}" required>
        </div>
        <div class="col" id="PTM_display">
          <label for="Modification Type">Modification Type</label>

          <input name="mod_type" type="text" class="twitter-typeahead form-control" id="mod_type" autocomplete="off" spellcheck="false" value="{{mod_type}}">
          <script src="/static/PTM_display.js"> </script>
        </div>
        <div class="col">
          <label for="Modification Position">Modification Position</label>
          <input name="mod_pos" type="text" class="form-control" id="mod_pos" value="{{mod_pos}}">
        </div>

        <div class="col" id="MHC_display">
          <label for="MHC Name">MHC Name</label>
          <input name="mhc_name" type="text" class="twitter-typeahead form-control" id="mhc_name" value="{{mhc_name}}" required>
          <script src="static/MHC_display.js"> </script>
        </div>

      </div>
      <style>
        .form-actions {
          margin: 10px;
          text-align: center;
        }
      </style>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

    </form>

    {% for error in errors%}
       {% if error %}
          <p class="alert alert-danger" role="alert"> {{error["instructions"]}}
          {% if error["fix"] %}
              {{"Suggested fix is" + error["fix"]}}
          {% endif %}
          </p>
          <script>
            var field = "#{{error["field"]}}";
            $(field).addClass("is-invalid");
          </script>
        {% endif %}
    {% endfor %}
    <script>
      var inputs = $("input");
      for(i = 0; i <inputs.length; i++){
      if(!($(inputs[i]).hasClass("is-invalid"))) {
        $($(inputs[i]).addClass("is-valid"));
      }
    }
    </script>
    {% if not error and success %}
      <p class="alert alert-success" role="alert"> Success! Input is valid </p>
    {% endif %}
    <p class="alert alert-info" role="alert"> Click <a href="{{url_for('readme')}}"> here </a> for documentation </p>
  </div>





</body>

</html>
