<h1 id="mhc-multimer-documentation">MHC Multimer documentation</h1>
<h2 id="table-of-contents">Table of Contents</h2>
<ul>
<li><a href="#description">Description</a></li>
<li><a href="#installation">Installation</a><ul>
<li><a href="#command-line">Command Line</a></li>
<li><a href="#local-web-server">Local Web Server</a></li>
</ul>
</li>
<li><a href="#usage-and-instructions">Usage and Instructions</a><ul>
<li><a href="#general-usage-instructions">General Usage Instructions</a></li>
<li><a href="#command-line-1">Command Line</a></li>
<li><a href="#web-form">Web Form</a></li>
</ul>
</li>
<li><a href="#examples">Examples</a><ul>
<li><a href="#valid-entry">Valid Entry</a></li>
</ul>
</li>
<li><a href="#contact-information">Contact Information</a></li>
</ul>
<h2 id="description">Description</h2>
<p>The <a href="http://tools.iedb.org/mhcmultimer">Multimer Validation Tool</a> is...</p>
<p>[TODO: Add abstract/link to paper]</p>
<h2 id="installation">Installation</h2>
<h3 id="command-line">Command Line</h3>
<p>If you would like to run the validator tool on the command line, please clone this repository and install using <code>pip</code></p>
<pre><code>git <span class="hljs-keyword">clone</span> <span class="hljs-title">https</span>://github.com/IEDB/tetramer-validator.git
cd tetramer-validator
pip install .
</code></pre><p>To confirm installation run <code>tv -h</code></p>
<h3 id="local-web-server">Local Web Server</h3>
<p><strong>Flask is a prerequisite for running this validator on a local web server.</strong></p>
<p>If you would like to run the validator on a local web server, please follow the instructions for setting up the command line usage.  </p>
<p>Then install Flask by entering in the following command:</p>
<pre><code>pip install -r requirements<span class="hljs-selector-class">.txt</span>
cd tetramer_validator
export FLASK_APP=server<span class="hljs-selector-class">.py</span>
flask run
</code></pre><p>By default, Flask will launch apps on <code>http://127.0.0.1:5000/</code>.  Enter this address in your browser.</p>
<h2 id="usage-and-instructions">Usage and Instructions</h2>
<h3 id="general-usage-instructions">General Usage Instructions</h3>
<ol>
<li>Please enter MHC molecule and peptide sequence. Both of these fields are required. Optionally, one can enter modification information.</li>
<li>MHC molecule name should be chosen to conform to <a href="https://www.ebi.ac.uk/ols/ontologies/mro">MHC Restriction ontology</a>.</li>
<li>Modification Position field should be a comma separated list of amino acid letter followed by position number (e.g. F1, S10, S300). Each modification position should be of the format <code>&lt;amino acid&gt;&lt;position&gt;</code></li>
<li>Modification type should be chosen to conform to <a href="https://www.ebi.ac.uk/ols/ontologies/mod">PSI-MOD ontology</a>.  </li>
<li>Either modification position <strong>and</strong> modification type must be provided or no modification information should be entered.</li>
<li>There should be equal number of modification positions and modification types.</li>
<li>NULL is not an appropriate value for any field. Please leave empty if there is no appropriate value.</li>
</ol>
<h3 id="command-line">Command Line</h3>
<p>The tool allows you to run command line validation on a table of MHC Multimer entries that is saved as Excel Spreadsheet (<code>.xlsx</code>), a tab-separated file (<code>.tsv</code>), or a comma-separated file (<code>.csv</code>).  </p>
<pre><code><span class="hljs-attribute">usage</span>: tv [-h] [-o OUTPUT] filename

<span class="vim">positional <span class="hljs-keyword">argument</span><span class="hljs-variable">s:</span>
  filename              Please enter .tsv, .csv, <span class="hljs-built_in">or</span> .xlsx filename <span class="hljs-built_in">and</span> that
                        the following <span class="hljs-keyword">is</span> in the header ro<span class="hljs-variable">w:</span> Peptide Sequence,
                        Modification Type, Modification Position, MHC Molecule

optional <span class="hljs-keyword">argument</span><span class="hljs-variable">s:</span>
  -h, --<span class="hljs-keyword">help</span>            show this <span class="hljs-keyword">help</span> message <span class="hljs-built_in">and</span> <span class="hljs-keyword">exit</span>
  -<span class="hljs-keyword">o</span> OUTPUT, --output OUTPUT
                        Enter output <span class="hljs-keyword">file</span> text name.</span>
</code></pre><h3 id="web-form">Web Form</h3>
<p>In order to assist user, the MHC Molecule and Modification Type fields output suggestions that conform to MHC Restriction ontology and PSI-MOD ontology, respectively.  Please use the suggested names to ensure successful validation.</p>
<h2 id="examples">Examples</h2>
<h3 id="valid-entry">Valid Entry</h3>
<p>See below for an example for entering the following entry.</p>
<ul>
<li>MHC Molecule: HLA-A*02:01</li>
<li>Peptide Sequence: NLVPMVATV</li>
<li>Modification Type: Oxidation</li>
<li>Modification Position: M5</li>
</ul>
<p>[TODO: Add screenshot]</p>
<ul>
<li>Notice that there is the display name of oxidized residue for Oxidation. Please choose from the display names or else validation will not be successful. </li>
<li>Notice that syntax of M5. The modification is at the position 5 and the amino acid is methionine.  </li>
</ul>
<h2 id="contact-information">Contact Information</h2>
<ul>
<li><a href="https://github.com/IEDB/tetramer-validator/issues">Issue Tracker</a></li>
<li><a href="mailto:help@iedb.org">Email</a></li>
</ul>
